body {
    min-width: 400px;
    overflow-x: hidden;
}

img {
    width: 3rem;
}

.textbas {
   color: #fff; 
}

.logo {
    width: 5vw;
}

.card-img-top {
    height: 20vh;
    object-fit: cover;
}

.img1 {
    object-position: 40% 0%;
}

.img2 {
    object-position: 28% 0%;
}

.img3 {
    object-position: 100% 0%;
}

.img4 {
    object-position: 50% 0%;
}

.img5 {
    object-position: 0% 0%;
}

.img6 {
    object-position: 85% 0%;
}

.icon {
    height: 2vh;
}

#vedette {
    width: 140%;
}

.vedette-card {
    max-width: 200px;
}

.vedette-card:hover {
    background-color: #e6e6e6;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-left: 3px;
    padding-left: 0px;
}

.userlogo {
    margin: 0;
}

button {
    margin: 0;
}

p {
    font-size: 10px;
}