$light:        #e6e6e6;
$dark:         #000000;
$primary:      #c1272d;
$secondary:    #ffcfcf;
$info:         #e07b7e;
$success :     #63af0e;
$warning :     #ffc377;
$danger :      #f60568;

$theme-colors: (
    "light":      #e6e6e6,
    "dark":       #000000,
    "primary":    #c1272d,
    "secondary":  #ffcfcf,
    "info":       #e07b7e,
    "success":    #6cbd00,
    "warning":    #ffc886,
    "danger":     #fd006b,
);

@import 'vendors/bootstrap-5.3.2/scss/bootstrap.scss'